@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-primary: #15ADB7;
  --color-primary-dark: #034E53;
  --color-primary-soft: #00CAD7;
  --color-secondary: #14B1F0;
  --color-green-soft:#03484D;
  --color-green-dark:#0E3B3E;
  --bg-gray:#B6B6B6;
  --color-text-gray:#ABA3A3;
  --color-gray-light:#AA9393;
  /* UI colors */
  --color-surface: #FFFEF6;
  --color-border: #E2E8F0;
  --border-gray:#AEAEAE;
  /* Text colors */
  --color-text-base: #0F172A;
  --color-text-muted: #64748B;

  /* Fonts */
  --font-sans: Inter, system-ui, sans-serif;
  --font-heading: Poppins, system-ui, sans-serif;
}

@layer base {
  .primary-color {
    color: var(--color-primary);
  }
  .bg-primary-dark {
    background-color: var(--color-primary-dark);
  }
  .bg-green-dark {
    color: var(--color-green-dark);
  }
  .bg-green-soft {
    color: var(--color-green-soft);
  }
  .text-gray {
    color: var(--color-text-gray);
  }
  .bg-gray {
    background-color: var(--bg-gray);
  }
  .bg-gray-light {
    background-color: var(--color-gray-light);
  }

  .text-secondary {
    color:var(--color-secondary)
  }

 .banner-button {
  background-color: var(--color-secondary);
  color: white;
  width: 152px;
  height: 40px;
  border-radius: 5px;
 }

 .social-icon-size {
  @apply w-2.5 h-5.5
 }

}
